<div class="link-wrapper">
  {% if site.platforms %}
  <ul class="link horizontal-icons">
    {%- for platform in site.platforms %}
    <li>
      <a href="{{ platform.link }}" rel="me">
        {{ platform.icon }}
        <span class="platform-name">{{ platform.name }}</span>
      </a>
    </li>
    {%- endfor %}
  </ul>
  {% endif %}

  {% if site.navigation %}
  <h3 class="sidebar-h3">Contents:</h3>
  <ul class="content">
  {%- for item in site.navigation %}
    <li><a href="{{ item.link }}">{{ item.name }}</a>
        {% if item.sublist %}
        <ul class="sublist">
            {%- for subitem in item.sublist %}
            <li><a href="{{ subitem.link }}">{{ subitem.name }}</a></li>
            {%- endfor %}
        </ul>
        {% endif %}
    </li>
  {%- endfor %}
  </ul>
  {% endif %}

  <div class="toggle-wrapper">
    <span>Dark Mode</span>
    <label class="switch">
      <input type="checkbox" id="theme-toggle">
      <span class="slider round"></span>
    </label>
  </div>

</div>
